<h1><%= @restaurant.name %></h1>
<h2>Address: <%= @restaurant.address %></h2>
<h3>Category: <%= @restaurant.category %></h3>

<%= link_to 'Reviews', restaurant_reviews_path(@restaurant), class: 'btn btn-primary' %>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content, placeholder: 'Content' %>
  <%= f.input :rating, placeholder: 'Choose 1-5' %>
  <%= f.submit 'Add review', class: 'btn btn-primary' %>
<% end %>

<br>

<%= link_to 'Restaurants', restaurants_path(@restaurants), class: 'btn btn-primary' %>
